<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cardcharity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".presentation.activities.splash.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activities.auth.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.activities.auth.signup.SignupActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.activities.password.forgot.ForgotActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.activities.password.reset.ResetPasswordActivity"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name=".presentation.activities.main.MainActivity" />
        <activity android:name=".presentation.activities.welcome.WelcomeActivity" />
        <activity android:name=".presentation.activities.settings.SettingsActivity" />
        <activity android:name=".presentation.activities.about.AboutActivity" />
    </application>
</manifest>